<h1 class="main-title">{{ this.title }}</h1>

<button class="btn btn-action mt-4 mb-4" (click)="this.toggleForm()">New activity</button>

<div class="activity-form mb-4" *ngIf="displayForm" [@formActivity]="this.displayForm">
	<div class="form-group">
		<input #title required="required">
		<span class="bar"></span>
		<label>Title</label>
	</div>
	<div class="form-group">
		<select #activityType required="required">
			<option value="">Select an activity type...</option>
			<option value="Redmine">Redmine</option>
		</select>
		<span class="highlight"></span>
		<span class="bar"></span>
	</div>
	<div class="form-group">
		<input #activityTicket required="required">
		<span class="bar"></span>
		<label>Activity ticket</label>
	</div>
	<div class="form-group">
		<button class="btn" (click)="this.toggleForm();">Cancel</button>
		<button class="btn btn-action" (click)="this.create( title.value, activityType.value, activityTicket.value )">Create</button>
	</div>
</div>

<div class="activity-form mb-4" *ngIf="this.selectedActivity != null" [@formActivity]="this.selectedActivity != null">
	<div class="form-group">
		<input #title required="required" value="{{ this.selectedActivity.title }}">
		<span class="bar"></span>
		<label>Title</label>
	</div>
	<div class="form-group">
		<select #activityType required="required">
			<option value="" [attr.selected]="this.selectedActivity.activityType === '' ? true : null">
				Select an activity type...
			</option>
			<option *ngFor="let actType of this.activityTypes" value="{{ actType.id }}"
					[attr.selected]="this.selectedActivity.activityType === actType.name ? true : null">
				{{ actType.name }}
			</option>
		</select>
		<span class="highlight"></span>
		<span class="bar"></span>
	</div>
	<div class="form-group">
		<input #activityTicket required="required" value="{{ this.selectedActivity.activityTicket }}">
		<span class="bar"></span>
		<label>Activity ticket</label>
	</div>
	<div class="form-group">
		<button class="btn" (click)="this.onSelect( null )">Cancel</button>
		<button class="btn btn-action" (click)="this.update( title.value, activityType.value, activityTicket.value )">Update</button>
	</div>
</div>

<ts-activity-pagination *ngIf="this.nbActivities > this.limit" [offset]="this.offset" [limit]="this.limit"
						[size]="this.nbActivities" (pageChange)="this.onPageChange( $event )"></ts-activity-pagination>

<table class="activities">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Ticket</th>
			<th>Date</th>
			<th>Time spent</th>
			<th width="200">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let activity of pagedActivities"
			[class.selected]="activity === this.selectedActivity"
			(click)="this.onSelect( activity )"
		>
			<td>{{ activity.id }}</td>
			<td>{{ activity.title }}</td>
			<td>
				<a *ngIf="activity.activityType && activity.activityTicket" href="{{ this.redmine }}{{ activity.activityTicket }}">
					{{ activity.activityType }} #{{ activity.activityTicket }}
				</a>
			</td>
			<td [title]="activityUtils.getDateTimeAsString(activity)">
				{{ activityUtils.getDateAsString(activity) }}
			</td>
			<td>{{ activity.duration }}</td>
			<td>
				<button class="btn btn-mini btn-mini-action"
					  *ngIf="activity.stopTime === null"
					  (click)="this.stop( $event, activity.id )">
					<span class="short">S</span>
					<span class="long">stop</span>
				</button>
				<button class="btn btn-mini btn-mini-action" (click)="this.duplicate( $event, activity.id )">
					<span class="short">D</span>
					<span class="long">duplicate</span>
				</button>
				<button class="btn btn-mini btn-mini-delete" (click)="this.delete( $event, activity.id )">
					<span class="short">X</span>
					<span class="long">delete</span>
				</button>
			</td>
		</tr>
	</tbody>
</table>
