<h1 class="main-title">{{ title }}</h1>

<button class="btn btn-action mt-4 mb-4" (click)="toggleForm()">New activity</button>

<div class="activity-form mb-4" *ngIf="displayForm" [@formActivity]="displayForm">
	<div class="form-group">
		<input #title id="formCreateTitle" required>
		<span class="bar"></span>
		<label for="formCreateTitle">Title</label>
	</div>
	<div class="form-group">
		<select #activityType id="formCreateActivityType" required>
			<option value="">Select an activity type...</option>
			<option *ngFor="let actType of activityTypes" value="{{ actType.id }}">
				{{ actType.name }}
			</option>
		</select>
		<span class="highlight"></span>
		<span class="bar"></span>
	</div>
	<div class="form-group">
		<input #activityTicket id="formCreateActivityTicket" required>
		<span class="bar"></span>
		<label for="formCreateActivityTicket">Activity ticket</label>
	</div>
	<div class="form-group">
		<button class="btn" (click)="toggleForm();">Cancel</button>
		<button class="btn btn-action" (click)="create( title.value, activityType.value, activityTicket.value )">Create</button>
	</div>
</div>

<div class="activity-form mb-4" *ngIf="selectedActivity" [@formActivity]="selectedActivity">
	<div class="form-group">
		<input #title id="formUpdateTitle" required value="{{ selectedActivity.title }}">
		<span class="bar"></span>
		<label for="formUpdateTitle">Title</label>
	</div>
	<div class="form-group">
		<select #activityType required>
			<option value="" [attr.selected]="selectedActivity.activityType === '' ? true : null">
				Select an activity type...
			</option>
			<option *ngFor="let actType of activityTypes" value="{{ actType.id }}"
					[attr.selected]="selectedActivity.activityType === actType.name ? true : null">
				{{ actType.name }}
			</option>
		</select>
		<span class="highlight"></span>
		<span class="bar"></span>
	</div>
	<div class="form-group">
		<input #activityTicket id="formUpdateActivityTicket" required value="{{ selectedActivity.activityTicket }}">
		<span class="bar"></span>
		<label for="formUpdateActivityTicket">Activity ticket</label>
	</div>
	<div class="form-group">
		<button class="btn" (click)="onSelect( null )">Cancel</button>
		<button class="btn btn-action" (click)="update( title.value, activityType.value, activityTicket.value )">Update</button>
	</div>
</div>

<ts-search (activityChange)="onSearch($event)"></ts-search>

<ts-activity-pagination *ngIf="nbActivities > 0" [offset]="offset" [limit]="limit"
						[size]="nbActivities" (pageChange)="onPageChange( $event )"></ts-activity-pagination>

<table class="activities">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Ticket</th>
			<th>Date</th>
			<th>Time spent</th>
			<th width="200">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let activity of pagedActivities"
			[class.selected]="activity === selectedActivity"
			(click)="onSelect( activity )"
		>
			<td>{{ activity.id }}</td>
			<td>{{ activity.title }}</td>
			<td>
				<a *ngIf="activity.activityType && activity.activityTicket" href="{{ redmine }}{{ activity.activityTicket }}">
					{{ activity.activityType }} #{{ activity.activityTicket }}
				</a>
			</td>
			<td [title]="activityUtils.getDateTimeAsString(activity)">
				{{ activityUtils.getDateAsString(activity) }}
			</td>
			<td>{{ activity.duration }}</td>
			<td>
				<button class="btn btn-mini btn-mini-action"
					  *ngIf="activity.stopTime === null"
					  (click)="stop( $event, activity.id )">
					<span class="short">S</span>
					<span class="long">stop</span>
				</button>
				<button class="btn btn-mini btn-mini-action" (click)="duplicate( $event, activity.id )">
					<span class="short">D</span>
					<span class="long">duplicate</span>
				</button>
				<button class="btn btn-mini btn-mini-delete" (click)="delete( $event, activity.id )">
					<span class="short">X</span>
					<span class="long">delete</span>
				</button>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="6">Total ativities: {{ nbActivities }}</td>
		</tr>
		<tr>
			<td colspan="6">Total time: {{ totalTime }}</td>
		</tr>
	</tfoot>
</table>
