.activities {
	display: table;
	border: none;
	border-collapse: collapse;
	width: 100%;
}

.activities thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

.activities thead tr {
	border-top: 1px solid #e6eaef !important;
	border-bottom: 1px solid #e6eaef !important;
}

.activities thead th {
	text-transform: uppercase;
	text-align: left;
	padding: 6px 0 6px 10px;
	color: #f2f2f2;
}

.activities tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

.activities tbody tr {
	white-space: nowrap;
}

.activities tbody tr:nth-child(even) {
	background-color: #737373;
}

.activities tbody tr:hover {
	background-color: #8c8c8c;
}

.activities tbody tr.selected {
	background-color: #b3b3b3;
	color: #333333;
	font-weight: 500;
}

.activities tbody tr.selected td a {
	color: #b38600;
}

.activities tbody tr:not(:last-child) {
	border-bottom: 1px solid #e6eaef !important;
}

.activities tbody td {
	line-height: 22px;
	text-align: left;
	padding: 6px 0 6px 10px;
}

.activities thead td, .activities tbody td {
	line-height: 30px;
}