.pagination-container {
	display: flex;
	justify-content: flex-end;
}

.pagination li {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
	width: 30px;
	border: 1px solid #FFFFFF;
	-webkit-border-radius: .25rem;
	-moz-border-radius: .25rem;
	border-radius: .25rem;
	background-color: #333333;
	text-align: center;
}

.pagination li:not(:last-child) {
	margin-right: 5px;
}

.pagination li:hover {
	cursor: pointer;
	background-color: #2196F3;
	border-color: #bce0fb;
}

.pagination li:hover a {
	color: #f2f2f2;
}

.pagination li a {
	display: block;
	color: #f2f2f2;
	text-decoration: none;
}

.pagination li.active {
	background-color: #2196F3;
	border-color: #bce0fb;
	color: #f2f2f2;
}

.pagination li.active:hover {
	border-color: #bce0fb;
	background-color: #2196F3;
	color: #f2f2f2;
}

.pagination li.active:hover a {
	color: #f2f2f2;
}

.pagination li.disabled {
	border: none;
	background-color: inherit;
	color: inherit;
}

.pagination li.disabled:hover {
	cursor: default;
}

.pagination li.disabled:hover a {
	cursor: default;
	color: #f2f2f2;
}
