<div class="pagination-container">
	<ul class="pagination">
		<li (click)="this.selectPage( 1, $event )" [class.disabled]="this.currentPage == 1">
			<a href="" title="Go to first page">&laquo;</a>
		</li>
		<li (click)="this.selectPage( this.currentPage - 1, $event )" [class.disabled]="this.currentPage == 1">
			<a href="" title="Go to previous page">&lsaquo;</a>
		</li>
		<li *ngFor="let page of this.pages | async" [class.active]="page == this.currentPage">
			<div *ngIf="page == this.currentPage; then displaySelectedPage else displayPageLink"></div>

			<ng-template #displaySelectedPage>{{ page }}</ng-template>
			<ng-template #displayPageLink>
				<a href="" (click)="this.selectPage( page, $event )">
					{{ page }}
				</a>
			</ng-template>
		</li>
		<li (click)="this.selectPage( this.currentPage + 1, $event )" [class.disabled]="this.currentPage == this.totalPages">
			<a href="" title="Go to next page">&rsaquo;</a>
		</li>
		<li (click)="this.selectPage( this.totalPages, $event )" [class.disabled]="this.currentPage == this.totalPages">
			<a href="" title="Go to first page">&raquo;</a>
		</li>
	</ul>
</div>
