@import "/assets/font-awesome/css/fontawesome-all.min.css";

::selection {
	background-color: darkgoldenrod;
	color: #FFFFFF;
}

::-moz-selection {
	background-color: darkgoldenrod;
	color: #FFFFFF;
}

html {
	overflow-y: scroll;
}

body {
	padding: 25px 50px;
	background-color: #2B2B2B;
	color: #f2f2f2;
	font-size: 14px;
}

a {
	color: #cc9900;
}

a:hover {
	color: #cc9900;
}

.main-title {
	margin: 0 auto;
	width: 150px;
}

.content-wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 25px 25px 25px;
	background-color: #595959;
	border: 1px solid #e6eaef;
	-webkit-border-radius: .50rem;
	-moz-border-radius: .50rem;
	border-radius: .50rem;
}

.btn {
	position: relative;
	display: inline-block;
	padding: 5px 10px;
	border: none;
	border-radius: .25rem;
	background-color: #f2f2f2;
	color: #333333;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
	transition: color 0.2s, background-color 0.2s;

	/* override Bootstrap */
	vertical-align: inherit;
	font-size: inherit;
}

.btn:hover {
	background-color: #333333;
	color: #f2f2f2;
}

.btn.btn-action {
	background-color: #2196F3;
	color: #bce0fb;
}

.btn.btn-action:hover {
	background-color: #bce0fb;
	color: #2196F3;
}

.btn.btn-mini {
	padding: 5px;
	height: 24px;
	max-width: 24px;
	overflow: hidden;
	transition: all .5s;
	line-height: 0;
}

.btn.btn-mini span.long {
	visibility: hidden;
	opacity: 0;
	transition: all .5s;
	white-space: nowrap;
}

.btn.btn-mini span.short {
	transition: all .5s .5s;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
}

.btn.btn-mini:hover {
	max-width: 200px;
}

.btn.btn-mini:hover span.short {
	transition: all .5s;
	visibility: hidden;
	opacity: 0;
}

.btn.btn-mini:hover span.long {
	transition: all .5s .5s;
	visibility: visible;
	opacity: 1;
}

.btn.btn-mini.btn-mini-delete {
	background-color: #cc0000;
	color: #FFFFFF;
}

.btn.btn-mini.btn-mini-action {
	background-color: #2196F3;
	color: #bce0fb;
}

.activity-form {
	position: relative;
	border: 1px solid #f2f2f2;
	border-radius: 5px;
	overflow: hidden;
}

.form-group {
	position: relative;
	margin: 15px;
}

.form-group:not(:first-child:last-child) {
	margin: 45px 0;
}

::placeholder {
	color: #FFFFFF;
	opacity: .4;
}

input, select {
	background: none;
	color: #f2f2f2;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #f2f2f2;
}

select {
	padding: 10px 10px 10px 0;
}

select option {
	background-color: #595959;
	font-size: 16px;
}

select option:focus {
	background-color: #cc9900;
}

input:focus, select:focus {
	outline: none;
}

input:focus ~ label, input:valid ~ label,
select:focus ~ label, select:valid ~ label {
	top: -14px;
	font-size: 12px;
	color: #f2f2f2;
}

input:focus ~ .bar:before, select:focus ~ .bar:before {
	 width: 100%;
}

label {
	color: #f2f2f2;
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	-webkit-transition: 300ms ease all;
	transition: 300ms ease all;
}

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before {
	 content: '';
	 height: 2px;
	 width: 0;
	 bottom: 0;
	 position: absolute;
	 background: #2196F3;
	 transition: 300ms ease all;
	 left: 0;
}

.search-box {
	position: relative;
	margin: 0 0 20px 0;
	width: 50%;
	left: 50%;
}

.search-box input {
	text-indent: 25px;
}

.search-box .fa-search {
	position: absolute;
	top: 16px;
	left: 5px;
}

.search-box .fa-times {
	position: absolute;
	top: 16px;
	right: 5px;
	cursor: pointer;
}

.grid {
	margin: 0;
	padding: 0;
	border: none;
}

.grid.grid-2 > div {
	width: 50%;
	float: left;
}
