*,
:before,
:after {
	box-sizing: border-box;
}

body {
	background-color: #2B2B2B;
	color: #66ccff;
}

a {
	color: #cc9900;
}

.content-wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 25px;
	background-color: #595959;
	border: 1px solid #e6eaef;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn {
	display: inline-block;
	margin: 5px 0;
	padding: 5px 10px;
	min-width: 100px;
	border: none;
	border-radius: 20px;
	background-color: #f2f2f2;
	color: #333333;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
	transition: color 0.2s, background-color 0.2s;
}

.btn:hover {
	background-color: #333333;
	color: #f2f2f2;
}

.activity-form {
	position: relative;
	padding: 0 10px 10px 10px;
	border: 1px solid #66ccff;
	border-radius: 5px;
}

.form-group {
	position: relative;
	margin: 45px 0;
}

.form-group input, .form-group select {
	background: none;
	color: #f2f2f2;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 320px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #f2f2f2;
}

.form-group option {
	background: none;
}

.form-group input:focus {
	outline: none;
}

.form-group input:focus label, .form-group input:valid label {
	top: -14px;
	font-size: 12px;
	color: #66ccff;
}

.form-group input:focus .bar:before {
	 width: 320px;
}

.form-group label {
	color: #66ccff;
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 300ms ease all;
}

.form-group .bar {
	position: relative;
	display: block;
	width: 320px;
}

.form-group .bar:before {
	 content: '';
	 height: 2px;
	 width: 0;
	 bottom: 0px;
	 position: absolute;
	 background: #66ccff;
	 transition: 300ms ease all;
	 left: 0%;
}
