body {
	background-color: #2B2B2B;
	color: #66ccff;
}

a {
	color: #cc9900;
}

.content-wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 25px;
	background-color: #595959;
	border: 1px solid #e6eaef;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn {
	display: inline-block;
	margin: 5px 0;
	padding: 5px 10px;
	min-width: 100px;
	border: none;
	border-radius: 20px;
	background-color: #f2f2f2;
	color: #333333;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
	transition: color 0.2s, background-color 0.2s;
}

.btn:hover {
	background-color: #333333;
	color: #f2f2f2;
}